<h3>New Post</h3>
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
      <%= f.input :name,
                  required: true
                  # autofocus: true,
                  %>
      <%= f.input :description,
                  required: true,
                  # autofocus: true,
                  as: :text%>
        <%= f.submit %>
  <% end %>
